"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fc7c43b9-486e-48f4-b25a-498e1409ad6c"
    html:
      beautify_on_save: true
      end_with_newline: true
      indent_size: 2
      wrap_attributes_indent_size: 2
  "autocomplete-plus": {}
  core:
    audioBeep: false
    disabledPackages: [
      "symbols-view"
      "metrics"
      "angularjs"
      "atom-bootstrap4"
      "browser-plus"
      "atom-bootstrap3"
      "linter-sass-lint"
    ]
    excluseVcsIgnoredPaths: false
    projectHome: "/Users/lastson/Code/Repos"
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "ab446130-11be-ae61-788f-176b73259e57"
  "file-icons": {}
  "file-types":
    "**/git/config": "source.git-config"
    "**/git/ignore": "source.git-ignore"
  "git-plus":
    experimental: true
    gitPath: "/usr/local/bin/git"
    showFormat: "none"
  linter: {}
  "linter-sass-lint":
    configFile: "~/.sass-lint.yml"
    globalNodePath: "/usr/local"
    globalSassLint: true
    noConfigDisable: true
  "linter-scss-lint": {}
  "linter-shellcheck": {}
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  "nord-atom-ui":
    darkerFormFocusEffect: true
  pigments: {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
".text.todo":
  editor:
    showIndentGuide: true
